#container {
  height: 100%;
  min-width: 800px;
}

#nav {
  padding: 12px;
  width: 200px;
  float: left;
  border-right: 1px dashed gray;
  height: 100%;
}

#main {
  margin-left: 200px;
  padding: 16px;
  height: 100%;
}
